* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media(max-width: 576px) {
        justify-content: center;
    }
}

.heading {
    margin-top: 5%;
    font-size: 1.5rem;
    color: #3d5af1;
    font-weight: 400;
}

.container {
    margin-top: 3rem;
    background-color: #c5e3f6;
    border-radius: 1rem;
    padding: 1rem 1.5rem 2rem;
}

.timer {
    color: #3d5af1;
    text-align: center;
    font-size: 2rem;

    @media (min-width: 576px) {
        font-size: 4rem;
    }
    
    &__hr,
    &__min,
    &__sec,
    &__mili-sec {
        font-size: 1rem;
    }
}

.btns {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;

    &__start,
    &__stop,
    &__reset {
        border: none;
        background-color: #3d5af1;
        color: white;
        padding: .5rem 1rem;
        border-radius: 1rem;
        font-size: 1rem;
        cursor: pointer;
        border: 2px solid #3d5af1;

        &:hover {
            background-color: #482ff7;
        }

        &:focus {
            border: 2px solid white;
            outline: none;
        }
    }
}

