* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

/* main carousel container */
.carousel {
    position: relative;
    height: 400px;
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
}

/* slides container */
.slide-container {
    background: lightgreen;
    list-style: none;
    height: 100%;
    width: 100%;
    display: flex;
    transition: transform 500ms ease-out;
}

/* carousel slides */
.carousel-slide {
    min-width: 100%;
}

/* carousel slides images */
.carousel-img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

/* carousel previous and next buttons */
.carousel-btn {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    width: 60px;
    filter: invert(50%);
    opacity: .8;
    cursor: pointer;
}

.carousel-btn:hover {
    filter: invert(100%);
}

/* carousel next button moved to right */
.carousel-right-btn {
    right: 0;
}

/* carousel slides indicator container */
.carousel-indicator-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* carousel slides indicator buttons */
.carousel-indicator {
    width: 15px;
    height: 15px;
    background-color: rgb(121, 121, 121);
    border-radius: 100px;
    border: none;
    margin: 1rem .5rem;
    cursor: pointer;
}

/* active slide indicator color changes to white */
.active-slide-indicator {
    background-color: white;
}
